@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Martian+Mono:wght@700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

body {
    background: linear-gradient(
        90deg,
        #E28413 0%,
        #F56416 35%,
        #DD4B1A 100%);
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    color: var(--page-background);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.card {
    width:  18em;
    height: 25em;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 30px 50px 100px 50px;
}

.middle-card {
    height: 28em;
}

.last-card {
    width:  18em;
    height: 25em;
    margin-top: 10px;
}

.first-card .free {
    margin-bottom: 1em;
}

.price {
    display: flex;
    margin-top: 50px;
}

.sub-info {
    margin: 10px 0 10px 0;
}

.benefits {
    margin: 20px 0 5px 0;
}

.info-benefits {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.benefits {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    border: 3px solid var(--blue);
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.left-button {
    margin-top: 52%;
}

.middle-button {
    margin-top: 40%;
}

.button:hover {
    background-color: var(--blue);
    color: var(--page-background);
}

.yellow {
    background-color: #ffcc29;
}